{% set section = include_dict.blog_feed_section %}
{% set section_author = include_dict.section_author %}
{% set section_category = include_dict.section_category %}
{% set section_tag = include_dict.section_tag %}
{% set post = include_dict.post_page %}

{% if section_author %}
	{% if post.author %}
		{% set post_author = getData(post.author) %}
		{% if post_author.id == section_author.id %}
			{% set include_dict = {'blog_feed_section': section, 'post_page': post} %}
			{% include "blog_post_feed_item.html" %}
		{% endif %}
	{% endif %}
{% elif section_category %}
	{% for category in post.categories %}
		{% set post_category = getData(category) %}
		{% if post_category.id == section_category.id %}
			{% set include_dict = {'blog_feed_section': section, 'post_page': post} %}
			{% include "blog_post_feed_item.html" %}
		{% endif %}
	{% endfor %}
{% elif section_tag %}
	{% for tag in post.tags %}
		{% set post_tag = getData(tag) %}
		{% if post_tag.id == section_tag.id %}
			{% set include_dict = {'blog_feed_section': section, 'post_page': post} %}
			{% include "blog_post_feed_item.html" %}
		{% endif %}
	{% endfor %}
{% else %}
	{% set include_dict = {'blog_feed_section': section, 'post_page': post} %}
	{% include "blog_post_feed_item.html" %}
{% endif %}
