<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="google" content="notranslate" />
<meta name="description" content="{{ page.params.excerpt | default( site.params.description, true) }}"/>
{% set style = site.params.style | default('classic', true) %}
{% set font = site.params.base_font | default('sans-serif', true) %}
{% if style == "bold" %}
  {% if font == "serif" %}
  <link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"> 
  {% else %}
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  {% endif %}
{% elif style == "classic" %}
  {% if font == "serif" %}
  <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  {% else %}
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  {% endif %}
{% else %}
	{% if font == "serif" %}
	<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
	{% else %}
	<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
	{% endif %}
{% endif %}
<link rel="stylesheet" href="{{ 'css/main.css' | relative_url }}">